
input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: rgb(1, 96, 176);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}

#abc{
  display: none;
}
label {
  /*height: 100%;*/
  /*display: block;*/
  /*background: white;*/
  border: 2px solid hsla(150, 75%, 50%, 1);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  /*//margin: 1rem;*/
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgb(1, 96, 176);
  /*position: relative;*/
}
input[type="radio"]:checked + label {
  background: rgb(1, 96, 176);
  color: hsla(215, 0%, 100%, 1);
  /*box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);*/
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    /*border: 2px solid rgb(1, 96, 176);*/
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    /*box-shadow: 0px 2px 5px -2px rgb(1, 96, 176);*/
  }
}

@media (max-width: 400px) {
  p {
    /*color: red;*/
    font-size: 10px;
  }
}
@media (max-width: 380px) {
  h1{
    font-size: 6px;
  }
}