{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/doctoreditprofile.css' %}">
<div class="container" style="margin-top:40px ">
<div class="row gutters">
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body">
				<div class="account-settings">
					<div class="user-profile">
						<div class="user-avatar">
							<img src="{{user.pic.url}}" alt="Maxwell Admin">
						</div>
						<h5 class="user-name">{{user.name}}</h5>
						<h6 class="user-email">{{user.city}}</h6>
					</div>
					<div class="about">
						<h5 class="mb-2 text-primary">About</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body">
				<form method="POST" action="/patient_edit_profile/" enctype="multipart/form-data">
					{% csrf_token %}
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h6 class="mb-3 text-primary">Personal Details</h6>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="fullName">Full Name</label>
							<input type="text" class="form-control" id="fullName" value="{{user.name}}" placeholder="Enter full name" name="fname">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="eMail">Email</label>
							<input type="email" class="form-control" id="eMail" placeholder="Enter email ID" name="femail">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="phone">Phone</label>
							<input type="text" class="form-control" id="phone" value="{{user.contact}}" placeholder="Enter phone number" name="fcontact">
						</div>
					</div>
					<!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="website" style="pointer-events: none;" >Specialisation</label>
							<input type="text" class="form-control"  id="website" value="{{doctor.specialisation}}" placeholder="Specialisation" name="fspecialisation"  style="pointer-events: none;" >
						</div>
					</div> -->
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="image">Profile Picture</label>
							<input type="file" class="form-control"  id="image"  placeholder="Upload image" name="fpic" >
						</div>
					</div>
				</div>
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h6 class="mb-3 text-primary">Address</h6>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="Street">District</label>
							<input type="name" class="form-control" id="Street" value="{{user.district}}" placeholder="Enter Street" name="fdistrict">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="ciTy">City</label>
							<input type="name" class="form-control" id="ciTy" value="{{user.city}}" placeholder="Enter City" name="fcity">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="sTate">State</label>
							<input type="text" class="form-control" id="sTate" value="{{user.state}}" placeholder="Enter State" name="fstate">
						</div>
					</div>
					<!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="zIp">License</label>
							<input type="text" class="form-control" id="zIp" value="{{doctor.license}}" placeholder="Zip Code" name="flicense">
						</div>
					</div> -->
				</div>
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="text-right">
							<a href="{% url 'login_redirect_view' %}">
							<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
							</a>
							<button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}